%df-d
	display: flex
%dfa-d
	@extend %df-d
	align-items: center
%dfi-d
	@extend %dfa-d
	justify-content: space-between
%dfc-d
	@extend %dfa-d
	justify-content: center
body
	padding-bottom: 0

.section
	+w($desktop)
	
.head
	&-menu
		margin-right: 126px
	&-item a,.head-login,.head-lang a
		color: rgba($white,.7)
		transition: $transition
		&:hover
			color: RGB($white)
	.head-lang a.active
		color: RGB($white)

.main-slider
	.slide
		&-title
			span
				margin-bottom: 10px
		&-item
			margin-right: 22px
			padding: 0 3px
		
.consult
	&-title
		flex-basis: 489px
		

.main-block
	padding: 80px 0
	
.about
	padding: 90px 0
	&-img
		flex-basis: 526px
	p
		line-height: 164%
	&-list
		padding-top: 70px
	&-item
		flex-basis: 352px
		.item
			&-title
				padding-left: 22px
				&:before
					+w(4px)
			&-text
				padding-left: 10px
				letter-spacing: 0
				
.multiple-slider
	+w(100%)
	overflow: visible

.corp
	.section
		align-items: flex-end
	&-link,&-subtitle,&-desc,&-item
		margin-top: 30px
	&-info
		+w(640px)
	&-desc
		font-size: 18px
	&-link
		font-size: 16px
	&-subtitle
		font-size: 36px
	&-list
		margin-top: 60px
	&-item
		.plus
			&-title
				font-size: 24px
				margin-bottom: 15px
			&-desc
				font-size: 18px
				line-height: 24px


.services
	.slide
		+w(330px)
		flex: 0 0 330px
		box-shadow: 7px 11px 30px 0 rgba(0, 0, 0, 0.3)
.foot
	&-links
		flex-direction: column
		top: 0
		left: inherit
	&-socials
		flex-direction: column
		padding: 20px 16px 12px 19px
		.socials-link
			margin-right: 0
			margin-bottom: 25px
			&:last-child
				margin-bottom: 0
			&:hover
				svg
					path
						fill: RGB($button-blue)
	&-cart
		padding: 34px 16px 26px 19px
		.socials-link
			&:hover
				svg
					circle
						fill: RGB($button-blue)
					path
						stroke: RGB($white)
	&-socials,&-cart
		border-radius: 10px 0 0 10px
		.socials-link
			svg
				path,circle
					transition: $transition