$unit: 'px'

body
	background-color: $form-bgc
	padding-bottom: 60px
section
	margin-bottom: 30px

.section
	+w(100%)
	padding: 0 10px
	margin: auto

.ui
	&-row
		padding: 10px 0 30px

.button
	+wh(200px,56px)
	+dfc
	+font(16px,$f_semi,$white)
	text-transform: uppercase
	background-color: $button-blue
	border-radius: 40px
	box-shadow: 0 4px 4px 0 rgba($black,.25)
	transition: .35s ease
	&[disabled]
		opacity: .5
		box-shadow: none
	&:hover
		background-color: $button-darkblue
	&:active
		box-shadow: none
	&-transparent
		background-color: rgba($button-blue,.6)
		border: 2px solid $button-blue
		&:hover
			background-color: rgba($button-darkblue,.6)
		
.link
	font-family: $f_bold
	text-decoration: underline
	transition: .35s ease
	&[disabled]
		color: $button-blue
		opacity: .5
	&:hover
		text-decoration: none

.title
	+font(24px,$f_bold,$black)
	text-transform: uppercase

.form
	&-title
		font-size: 24px
		line-height: 64px
	&-block
		max-width: 471px
		background-color: $light-gray
		padding: 7px 24px
	&-feedback
		.form-block
			margin-bottom: 20px
			border: 1px solid rgba($border-gray,.2)
	.block
		&-title
			color: $form-subtitle
			line-height: 22px
			letter-spacing: .25px
		&-input
			+w(100%)
			font-size: 18px
			line-height: 28px
			&::placeholder
				color: $form-placeholder
		&-textarea
			background-color: transparent
			border: none
	&-privacy
		margin-bottom: 25px
		line-height: 26px
		strong
			font-family: $f_bold


header
	padding: 0 10px
	position: fixed
	top: 10px
	left: 0
	right: 0
	z-index: 1000
.head
	height: 43px
	overflow: hidden
	padding: 10px
	background-color: rgba($button-blue,.9)
	border-radius: 4px
	display: flex
	flex-wrap: wrap
	align-items: center
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6)
	transition: .35s ease
	&.active
		height: 238px
		.head-burger
			span
				opacity: 0
				visibility: hidden
			&:before
				transform: rotate(45deg) translate(4px,5px)
			&:after
				transform: rotate(-45deg) translate(5px,-6px)
	&,a
		color: $white
	&-logo
		display: flex
	&-burger
		padding: 5px
		margin-left: auto
		&:before,&:after
			content: ''
		&:before,&:after,span
			+wh(25px,2px)
			border-radius: 1px
			background-color: $white
			display: block
			transition: .35s ease
		span
			margin: 5px 0
	&-menu
		flex: 0 0 100%
		margin-top: 20px
	&-item
		margin-top: 5px
		&.active
			font-family: $f_bold
		&:first-child
			margin-top: 0
	&-login
		flex: 0 0 100%
		margin-top: 20px
		font-family: $f_bold
		text-transform: uppercase
	&-lang
		margin-top: 20px
		span
			margin: 0 5px
		.lang-link
			text-transform: uppercase
			&.active
				font-family: $f_bold



.slider
	&-control
		display: flex
		align-items: center
		justify-content: space-between
		position: absolute
		bottom: 20px
		left: 0
		right: 0
		margin: 0 auto
.control-button
	+wh(16px)
	+dfc
	border-radius: 100%
	border: 2px solid transparent
	transition: .5s ease
	&:last-child
		margin-right: 0
	&:after
		+af
		+wh(8px)
		border-radius: 100%

		
.main-slider
	position: relative
	height: calc(100vh - 60px)
	box-shadow: 0 20px 30px 0 rgba($black,.2)
	.slider-control
		padding: 2px 10px
		border-radius: 12px
		background-color: rgba($white,.2)
	.control-button
		&.active
			border-color: rgba($white,.5)
		&:after
			background-color: $button-blue
	.slide
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		opacity: 0
		visibility: hidden
		transition: .5s ease
		&.active
			visibility: visible
			opacity: 1
		&-inner
			height: 100%
			display: flex
			flex-direction: column
			justify-content: center
			padding: 63px 10px 40px
		&,&-title
			color: $white
		&-title
			font-size: 24px
			display: flex
			flex-direction: column
			align-items: flex-start
			margin-bottom: 10px
			i
				padding: 0 5px
				background-color: rgba($gray,.8)
				display: inline-block
		&-list
			display: flex
			align-items: flex-start
			flex-direction: column
		&-item
			padding: 3px
			margin: 2.5px 0
			background-color: rgba($gray,.8)
			img
				margin-right: 7px
			span
				font-family: $f_semi
		&-button
			margin-top: 10px
		&-bgc
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0
			z-index: -1
			img
				+wh(100%)
				object-fit: cover
				object-position: right


.consult
	&-form
		border: 4px solid $button-blue
		background-color: $white
	&-title
		padding: 20px 20px 0
		letter-spacing: 0
	&-block
		padding: 20px
		.form-block
			background-color: $form-block
			box-shadow: 7px 11px 15px 0 rgba($black,.15)
	&-button
		padding: 20px
		background-image: url(img/Squares.svg)
		background-size: cover
		background-repeat: no-repeat


.about
	padding: 20px 0
	background-color: $block-bgc
	&-row
		padding-top: 4px
	p
		font-family: $o_reg
		strong
			font-family: $f_bold
			color: $button-blue
	&-img
		img
			display: block
	&-desc
		margin: 10px 0
	&-item
		margin-bottom: 10px
		.item
			&-title
				position: relative
				padding-left: 10px
				margin-bottom: 10px
				span
					display: block
					letter-spacing: 0
				&:before
					+af
					+wh(3px,100%)
					background-color: $button-blue
					position: absolute
					left: 0
		&:last-child
			margin-bottom: 0


.retailers
	padding: 20px 10px
	background-color: $block-bgc
	.multiple-slider
		margin-top: 15px
	.slide
		+wh(300px,372px)
		display: flex
		flex-direction: column
		align-items: center
		background-color: $slide-bgc
		border-radius: 10px
		overflow: hidden
		position: relative
		line-height: 1.2
		&:before,&:after
			+af
			background-color: $white
			position: absolute
			border: 1px solid rgba($gray,.3)
		&:before
			+wh(calc(100% - 2px),calc(100% - 76px))
			border-radius: 10px
			border-bottom-right-radius: 0
		&:after
			+wh(218px,76px)
			bottom: 0
			right: 0
			border-top: none
			border-bottom-right-radius: 10px
			border-bottom-left-radius: 10px
		&-inner
			+wh(100%)
			padding: 20px 27px
			position: absolute
			z-index: 100
		&-photo
			display: flex
			justify-content: space-around
			margin-bottom: 5px
		&-title
			font-family: $f_bold
			font-size: 24px
			text-transform: capitalize
			margin-bottom: 3px
		&-code
			color: $gray
			line-height: 1.8
		&-icon
			+wh(79px,74px)
			+dfc
			position: absolute
			bottom: 0
			left: 0
			img
				display: block
				position: relative
				z-index: 10
			&:before,span
				position: absolute
			&:before
				+af
				+wh(100%)
				top: -10px
				right: -10px
				background-color: $white
			span
				+wh(calc(100% + 1px))
				border-top-right-radius: 10px
				background-color: $slide-bgc
				&:after
					+af
					+wh(calc(100% - 10px))
					position: absolute
					bottom: 10px
					left: 10px
					border-top-right-radius: 10px
					border-top: 1px solid rgba($gray,.3)
					border-right: 1px solid rgba($gray,.3)
		&-prices
			margin-top: 38px
			text-align: right
			.old-price
				color: $gray
				text-decoration: line-through
				margin-bottom: 4px
			.current-price
				font-family: $f_bold
				font-size: 24px
				color: $price-blue


.foot
	&-links
		display: flex
		align-items: center
		position: fixed
		bottom: 0
		left: 0
		right: 0
		z-index: 100
	&-socials
		background-color: rgba($gray,.8)
		flex: 0 0 80%
		.socials-link
			margin-right: 10px
			display: block
			&:last-child
				margin-right: 0
	&-cart
		flex: 0 0 20%
		background-color: rgba($button-lightblue,.8)
	&-socials,&-cart
		+dfc
		padding: 10px 0 0
