%df-ml
	display: flex
%dfa-ml
	@extend %df-ml
	align-items: center
%dfi-ml
	@extend %dfa-ml
	justify-content: space-between
%dfc-ml
	@extend %dfa-ml
	justify-content: center
.main-slider
	min-height: 400px
	.slide
		&-title
			margin-bottom: 10px
		&-list
			flex-direction: row
			flex-wrap: wrap
		&-lists
			margin-bottom: 10px
		&-item
			margin-right: 10px