aside.left-menu
	h2.menu-title.title Каталог
	.menu-row.menu-subtitle
		span.menu-subtitle-left Раздел:
		span.menu-subtitle-right Вентиляция
	ul.menu-list
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Вентиляторы
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Вентилятор №1
				li.menu-subitem
					a(href='#').menu-link Вентилятор №2
				li.menu-subitem
					a(href='#').menu-link Вентилятор №3
				li.menu-subitem
					a(href='#').menu-link Вентилятор №4
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Детали систем вентиляции
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Детали систем вентиляции №1
				li.menu-subitem
					a(href='#').menu-link Детали систем вентиляции №2
				li.menu-subitem
					a(href='#').menu-link Детали систем вентиляции №3
				li.menu-subitem
					a(href='#').menu-link Детали систем вентиляции №4
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Круглые воздуховоды
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Круглые воздуховоды №1
				li.menu-subitem
					a(href='#').menu-link Круглые воздуховоды №2
				li.menu-subitem
					a(href='#').menu-link Круглые воздуховоды №3
				li.menu-subitem
					a(href='#').menu-link Круглые воздуховоды №4
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Прямоугольные воздуховоды
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Прямоугольные воздуховоды №1
				li.menu-subitem
					a(href='#').menu-link Прямоугольные воздуховоды №2
				li.menu-subitem
					a(href='#').menu-link Прямоугольные воздуховоды №3
				li.menu-subitem
					a(href='#').menu-link Прямоугольные воздуховоды №4
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Узлы прохода
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Узлы прохода №1
				li.menu-subitem
					a(href='#').menu-link Узлы прохода №2
				li.menu-subitem
					a(href='#').menu-link Узлы прохода №3
				li.menu-subitem
					a(href='#').menu-link Узлы прохода №4
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Фильтры
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Фильтры №1
				li.menu-subitem
					a(href='#').menu-link Фильтры №2
				li.menu-subitem
					a(href='#').menu-link Фильтры №3
				li.menu-subitem
					a(href='#').menu-link Фильтры №4
		li.menu-item
			button(data-click-action='front:asideShow').menu-button.menu-row
				span Шумоглушители
				+img('border-arrow-right.svg')
			ul.menu-sublist
				li.menu-subitem
					a(href='#').menu-link Шумоглушитель прямоугольного сечения (пластинчатого типа) ГП
				li.menu-subitem
					a(href='#').menu-link Шумоглушитель круглого сечения ГТК
				li.menu-subitem
					a(href='#').menu-link Шумоглушитель прямоугольного сечения (трубчатого типа) ГТПи
				li.menu-subitem
					a(href='#').menu-link Пластины шумоглушащие П, ПО