section.right-cut.right
	.right-links
		.right-top.right-half
			a(href='#' data-click-action='Front:showItem' data-target='left-menu').link.catalog
				svg(width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg")
					g(filter="url(#filter0_d)")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M23 0C12.5066 0 4 8.50659 4 19C4 29.4934 12.5066 38 23 38C33.4934 38 42 29.4934 42 19C42 8.50659 33.4934 0 23 0ZM18.8226 8.92789C19.9035 8.8787 20.2489 8.86667 23.0009 8.86667H22.9978C25.7507 8.86667 26.0948 8.8787 27.1757 8.92789C28.2545 8.97729 28.9913 9.14808 29.6373 9.39867C30.3044 9.65729 30.8681 10.0035 31.4318 10.5672C31.9954 11.1304 32.3417 11.6958 32.6013 12.3623C32.8504 13.0066 33.0214 13.743 33.0721 14.8218C33.1207 15.9027 33.1333 16.248 33.1333 19.0001C33.1333 21.7522 33.1207 22.0967 33.0721 23.1776C33.0214 24.256 32.8504 24.9926 32.6013 25.6371C32.3417 26.3034 31.9954 26.8687 31.4318 27.432C30.8687 27.9956 30.3042 28.3427 29.6379 28.6015C28.9932 28.8521 28.256 29.0229 27.1772 29.0723C26.0963 29.1215 25.752 29.1335 22.9997 29.1335C20.2478 29.1335 19.9026 29.1215 18.8217 29.0723C17.7432 29.0229 17.0066 28.8521 16.3619 28.6015C15.6958 28.3427 15.1304 27.9956 14.5674 27.432C14.0039 26.8687 13.6577 26.3034 13.3987 25.6369C13.1483 24.9926 12.9775 24.2562 12.9279 23.1774C12.8789 22.0965 12.8667 21.7522 12.8667 19.0001C12.8667 16.248 12.8793 15.9024 12.9277 14.8215C12.9762 13.7432 13.1472 13.0066 13.3985 12.3621C13.6581 11.6958 14.0044 11.1304 14.568 10.5672C15.1313 10.0037 15.6966 9.6575 16.3631 9.39867C17.0074 9.14808 17.7438 8.97729 18.8226 8.92789Z" fill="white")
					circle(cx="23" cy="19" r="13" fill="white")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M12 11.4375C12 11.0578 12.3078 10.75 12.6875 10.75H19.5596C20.9953 10.75 22.2597 11.4834 22.9986 12.5962C23.7374 11.4835 25.0018 10.75 26.4375 10.75H33.3125C33.6922 10.75 34 11.0578 34 11.4375V25.2448C34 25.428 33.9269 25.6035 33.797 25.7326C33.6671 25.8617 33.491 25.9335 33.3079 25.9323L26.2661 25.8847C25.5304 25.8797 24.8233 26.1698 24.303 26.6901L23.4861 27.507C23.2177 27.7755 22.7823 27.7755 22.5139 27.507L21.6874 26.6805C21.1716 26.1647 20.4722 25.875 19.7428 25.875H12.6875C12.3078 25.875 12 25.5672 12 25.1875V11.4375ZM22.3096 14.8727C22.3084 13.3548 21.0775 12.125 19.5596 12.125H13.375V24.5H19.7428C20.6808 24.5 21.5859 24.8195 22.3125 25.3982L22.3096 14.8727ZM23.6875 25.4002V14.875C23.6875 13.3562 24.9187 12.125 26.4375 12.125H32.625V24.5527L26.2754 24.5097C25.332 24.5034 24.4199 24.8204 23.6875 25.4002Z" fill="#5A5A5A" stroke="#5B5B5B" stroke-linecap="round" stroke-linejoin="round")
					defs
						filter(id="filter0_d" x="0" y="0" width="46" height="46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
							feFlood(flood-opacity="0" result="BackgroundImageFix")
							feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
							feOffset(dy="4")
							feGaussianBlur(stdDeviation="2")
							feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
							feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
							feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")
			a(href='#' data-click-action='Front:showItem' data-target='search-row').link.search
				svg(width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg")
					g(filter="url(#filter0_d)")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M23 0C12.5066 0 4 8.50659 4 19C4 29.4934 12.5066 38 23 38C33.4934 38 42 29.4934 42 19C42 8.50659 33.4934 0 23 0ZM24.9804 19.8346V30.1716H20.7034V19.835H18.5667V16.2728H20.7034V14.1341C20.7034 11.228 21.91 9.5 25.3379 9.5H28.1918V13.0626H26.4079C25.0735 13.0626 24.9852 13.5604 24.9852 14.4895L24.9804 16.2724H28.212L27.8339 19.8346H24.9804Z" fill="white")
					circle(cx="23" cy="19" r="13" fill="white")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M27.2877 17.2341C27.2877 20.1562 24.9536 22.4683 22.1438 22.4683C19.3341 22.4683 17 20.1562 17 17.2341C17 14.3121 19.3341 12 22.1438 12C24.9536 12 27.2877 14.3121 27.2877 17.2341ZM26.5096 24.1864C25.2478 24.9981 23.7502 25.4683 22.1438 25.4683C17.6461 25.4683 14 21.7817 14 17.2341C14 12.6866 17.6461 9 22.1438 9C26.6416 9 30.2877 12.6866 30.2877 17.2341C30.2877 19.0673 29.6952 20.7605 28.6933 22.1288L33.9111 27.4257L31.8058 29.563L26.5096 24.1864Z" fill="#585858")
					defs
						filter(id="filter0_d" x="0" y="0" width="46" height="46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
							feFlood(flood-opacity="0" result="BackgroundImageFix")
							feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
							feOffset(dy="4")
							feGaussianBlur(stdDeviation="2")
							feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
							feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
							feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")
		.right-bottom.right-half
			a(href='#').link
				svg(width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg")
					circle(cx="23" cy="19" r="19" fill="white")
					path(d="M30.5625 12.125H15.4375C15.0578 12.125 14.75 12.4328 14.75 12.8125V25.1875C14.75 25.5672 15.0578 25.875 15.4375 25.875H30.5625C30.9422 25.875 31.25 25.5672 31.25 25.1875V12.8125C31.25 12.4328 30.9422 12.125 30.5625 12.125Z" stroke="#257BE1" stroke-linecap="round" stroke-linejoin="round")
					path(d="M14.75 14.875H31.25" stroke="#257BE1" stroke-linecap="round" stroke-linejoin="round")
					path(d="M26.4375 17.625C26.4375 18.5367 26.0753 19.411 25.4307 20.0557C24.786 20.7003 23.9117 21.0625 23 21.0625C22.0883 21.0625 21.214 20.7003 20.5693 20.0557C19.9247 19.411 19.5625 18.5367 19.5625 17.625" stroke="#257BE1" stroke-linecap="round" stroke-linejoin="round")
					defs
						filter(id="filter0_d" x="0" y="0" width="46" height="46" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB")
							feFlood(flood-opacity="0" result="BackgroundImageFix")
							feColorMatrix(in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0")
							feOffset(dy="4")
							feGaussianBlur(stdDeviation="2")
							feColorMatrix(type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0")
							feBlend(mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow")
							feBlend(mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape")