section.consult
	.section
		form.consult-form.form
			.consult-title
				h2.title Получите бесплатную консультацию
			.consult-block
				.form-block
					span.block-title Ваш номер телефона:
					input(type='text' placeholder='+9 (999) 999-99-99').block-input
			.consult-button
				button.button.button-transparent Отправить