table
	thead
		tr
			th
				.table-head Обозначение
					em (размеры, мм)
			th
				.table-head B
			th
				.table-head H
			th
				.table-head L
			th
				.table-head Масса
					em (кг)
	tbody
		tr
			td
				.table-desc П 1-1
			td
				.table-desc 100
			td
				.table-desc 500
			td
				.table-desc 750
			td
				.table-desc 500
		tr
			td
				.table-desc П 1-2
			td
				.table-desc 100
			td
				.table-desc 500
			td
				.table-desc 1000
			td
				.table-desc 1000
		tr
			td
				.table-desc П 1-3
			td
				.table-desc 100
			td
				.table-desc 1000
			td
				.table-desc 1000
			td
				.table-desc 1000