///*--==[ Ширины]==--*/
//$unit : '%'


// 320
$mobile: 320
// 460
$mobile-large: 460
// 768
$tablet: 768
// 1004
$tablet-large: 1004
// 1170
$desktop: 1170
// 1440
//$desktop-large: 1440


///*--==[ Отступы ]==--*/
$col: 0
$gap: 0


// --==[ Названия шрифтов]==--
//+font_inc($f_reg,'path')
$f_reg: 'ProximaNova-Regular'
$f_bold: 'ProximaNova-Bold'
$f_semi: 'ProximaNova-Semibold'


///*--==[ Цвета ]==--*/
$black: #18191F
$white: #fff
$light-gray: #F2F7FF
$gray: #383838

$form-subtitle: #6E7191
$form-placeholder: #DADADA

$button-blue: #1480FF
$button-darkblue: #1170DE

$border-gray: #18181A