extends template/main
append vars
	-
		page_title= 'О компании'
block content
	main.ab
		section.ab-banner
			.ab-photo
				+img('about-bgc.jpg')
			.section
				.ab-desc
					span.desc-name Leka.kz
					h1.desc-title ТОО
						q ЛЕКА
					p.desc-text Производственно-монтажная компания «ЛЕКА» существует на рынке вентиляционного оборудования Республики Казахстан с 1989 года. За это время мы освоили основы создания необходимого микроклимата и передовые технологии климатической отрасли при изготовлении систем вентиляции и кондиционирования воздуха.
		section.ab-map.main-block
			.section
				h2.title Регионы сотрудничества
				.map-row
					p.map-left.map-desc На сегодняшний день компания «ЛЕКА» является одной из ведущих строительно-монтажных компаний отечественного производства. Мы регулярно расширяем сферы своей деятельности, а так же ассортимент производимой продукции. Нашими партнерами являются лидирующие строительные компании - Bi-group, СК «Базис», ТОО «Kazindustrial Group», ТОО «Absolute Kazakhstan-C», ТОО «АСТАНА-ТУКС» и многие другие, стремительно набирающие карьерный рост и авторитет в своей отрасли, компании Республики Казахстан.
					.map-right
						.map-photo
							+img('map.svg')
							.map-dot.map-Karagandy.active
								button(data-click-action='Front:showCity')
								span Караганда
							.map-dot.map-Moscow
								button(data-click-action='Front:showCity')
								span Москва
							.map-dot.map-Pekin
								button(data-click-action='Front:showCity')
								span Пекин
							.map-dot.map-Sidney
								button(data-click-action='Front:showCity')
								span Сидней
							.map-dot.map-Dubai
								button(data-click-action='Front:showCity')
								span Дубай
							.map-dot.map-Seattle
								button(data-click-action='Front:showCity')
								span Сиэтл
							.map-dot.map-Rio
								button(data-click-action='Front:showCity')
								span Рио-де-Жанейро
							.map-dot.map-London
								button(data-click-action='Front:showCity')
								span Лондон
			.section
				h2.title Специалисты
				p.map-desc.map-row Многолетний опыт «ЛЕКА» позволил обучить и сплотить высококлассных специалистов, творческий подход и гибкость мышления которых, является источником уверенности в правильном выборе нашей компании для решения ваших бизнес-задач.
				.comment-slider
					.comment-slide
						.comment-row
							.comment-photo
								+img('Angela-Merkel-2012.jpg')
							div
								h5.comment-title Ангела Меркель
								span.comment-position Канцлер Германии
						p.comment-text А́нгела Дороте́я Ме́ркель (нем. Angela Dorothea Merkel, урождённая Каснер (нем. Kasner); род. 17 июля 1954, Гамбург, ФРГ) — немецкий деятель.
					.comment-slide
						.comment-row
							.comment-photo
								+img('stark.jpg')
							div
								h5.comment-title Энтони Старк
								span.comment-position Железный человек
						p.comment-text Энтони Эдвард «Тони» Старк (англ. Anthony Edward "Tony" Stark) — персонаж, изданий Marvel Comics и их адаптаций, созданный писателем Стэном Ли в марте 1963 года.
					.comment-slide
						.comment-row
							.comment-photo
								+img('ggg.jpg')
							div
								h5.comment-title Геннадий Головкин
								span.comment-position Чемпион мира по боксу
						p.comment-text Генна́дий Генна́дьевич Голо́вкин — казахстанский боксёр-профессионал, выступающий в средней весовой категории.
				.slider-control
					button.control-button.active
					button.control-button
					button.control-button
					button.control-button
					button.control-button
					button.control-button
		section.ab-sert.main-block
			.section
				h2.title Сертификаты
				.sert-row
					button(data-click-action='Front:showSertificate').sert-img
						+img('sert-1.jpg')(style='width: 100%')
					button(data-click-action='Front:showSertificate').sert-img
						+img('sert-2.jpg')(style='width: 100%')
					button(data-click-action='Front:showSertificate').sert-img
						+img('sert-3.jpg')(style='width: 100%')
		section.ab-doc.main-block
			.section
				h2.title Документация
				.doc-slider
					button.prev.arrow
						+img('border-arrow-right.svg')
					ul.doc-list
						li.doc-item.active
							a(href='#')
								span.doc-title Letex
								span.doc-text Сертификат подтверждающий официальное диллерство
								span.doc-link  (4.80 МБ.pdf)
						-for(let i = 0; i < 11; i++)
							li.doc-item
								a(href='#')
									span.doc-title Letex
									span.doc-text Сертификат подтверждающий официальное диллерство
									span.doc-link (4.80 МБ.pdf)
					button.next.arrow
						+img('border-arrow-right.svg')
		section.ab-vac.main-block
			.section
				h2.title Карьера
				p.vac-subtitle ТОО «ЛЕКА» ищет талантливых и увлеченных своим делом людей для работы в корпоративных интересах. Приглашаем вас ознакомиться с многочисленными возможностями и преимуществами работы в организации.
				ul.vac-list
					-for(let i = 0; i < 5; i++)
						li.vac-item
							span.vac-place В штат
							.vac-position
								div
								span Маркетолог
							.vac-require
								span.require-title Стаж работы:
								span.require-value 8 лет
				form.vac-form.form-feedback
					span.form-details *для получения возможности провести собеседование, пожалуйста, заполните краткую форму ниже.
					.form-block
						span.block-title Ф.И.О.
						input(type='text' placeholder='Юрий Гагарин').block-input
					.form-block
						span.block-title Ваш E-mail:
						input(type='text' placeholder='Uragagarin@gmail.com').block-input
					.form-block
						span.block-title Ваш номер телефона:
						input(type='text' placeholder='+9 (999) 999-99-99').block-input
					.form-block.block-select.vacancy
						input(type='hidden' placeholder='' value='Менеджер')#vacancy
						span.block-title Вакансия:
						button(type='button' data-cls='vacancy' data-click-action='Front:vacancyShow').select-head
							span Менеджер
							+img('border-arrow-right.svg')
						.select-body
							button(data-cls='vacancy' data-click-action='Front:vacancyShow').select-option Менеджер
							button(data-cls='vacancy' data-click-action='Front:vacancyShow').select-option Инженер
							button(data-cls='vacancy' data-click-action='Front:vacancyShow').select-option Логист
							button(data-cls='vacancy' data-click-action='Front:vacancyShow').select-option Бухгалтер
					.form-block
						span.block-title Резюме
						input(type='file' placeholder='Вы можете прикрепить своё резюме здесь!').block-file.block-input
						.vac-file Выберите файл
					.form-privacy
						span Нажимая кнопку "
						strong Отправить
						span ", Вы даете согласие на обработку персональных данных и соглашаетесь с&nbsp;
						a(href='#').link Privacy Policy
						span .
					button(disabled).button Отправить


		include parts/consult
		include parts/map


