extends template/main
append vars
	-
		page_title= 'О компании'
block content
	main.ab
		section.ab-banner
			.ab-photo
				+img('about-bgc.jpg')
			.section
				.ab-desc
					span.desc-name Leka.kz
					h1.desc-title ТОО
						q ЛЕКА
					p.desc-text Производственно-монтажная компания «ЛЕКА» существует на рынке вентиляционного оборудования Республики Казахстан с 1989 года. За это время мы освоили основы создания необходимого микроклимата и передовые технологии климатической отрасли при изготовлении систем вентиляции и кондиционирования воздуха.





