extends template/main
append vars
	-
		page_title= 'Карточка товара'
block content
	main.article
		section
			.section
				.article-block
					a(href='./news.php').article-back
						svg( width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg")
							path( d="M0.75 0.875L3.875 4L0.75 7.125" stroke="black" stroke-linecap="round" stroke-linejoin="round")
						span Назад
					.row
						.article-date 2019-07-31
						.article-time 14:03
						a(href='#').article-type Статья
					h1.article-title Циклон ЦН-15-700-4УП
					button.article-share
						svg( width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg")
							path( d="M8 20C10.2091 20 12 18.2091 12 16C12 13.7909 10.2091 12 8 12C5.79086 12 4 13.7909 4 16C4 18.2091 5.79086 20 8 20Z" stroke="#5E5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path( d="M22 29C24.2091 29 26 27.2091 26 25C26 22.7909 24.2091 21 22 21C19.7909 21 18 22.7909 18 25C18 27.2091 19.7909 29 22 29Z" stroke="#5E5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path( d="M22 11C24.2091 11 26 9.20914 26 7C26 4.79086 24.2091 3 22 3C19.7909 3 18 4.79086 18 7C18 9.20914 19.7909 11 22 11Z" stroke="#5E5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path( d="M18.6356 9.16284L11.3643 13.8373" stroke="#5E5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
							path( d="M11.3643 18.1626L18.6356 22.8371" stroke="#5E5E5E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
			.section
				.article-photo
					+img('ciclon2.jpg')
				.article-text
					strong Циклон
					|— воздухоочиститель, используемый в промышленности для очистки газов или жидкостей от взвешенных частиц. Принцип очистки — инерционный (с использованием центробежной силы), а также гравитационный. Циклонные пылеуловители составляют наиболеемассовую группу среди всех видов пылеулавливающей аппаратуры и применяются во всех отраслях промышленности.
				.article-text
					| Принцип действия простейшего противоточного циклона таков: поток запылённого газа вводится в аппарат через входной патрубок тангенциально в верхней части. В аппарате формируется вращающийся поток газа, направленный вниз, к конической части аппарата. Вследствие силыинерции (центробежной силы) частицы пыли выносятся из потока и оседают на стенках аппарата, затем захватываются вторичным потоком и попадают в нижнюю часть, через выпускное отверстие в бункер для сбора пыли.Очищенный от пыли газовый поток затем двигается снизу вверх и выводится из циклона через соосную выхлопную трубу.
				.article-text
					| Существует огромное разнообразие типов циклонов. Кроме описанного выше противоточного циклона существуют и менее распространённые прямоточные. Противоточные циклоны различаются размерами, соотношением цилиндрической и конической частей, а также относительной высотой (то есть отношениемвысоты к диаметру) цилиндрической части. Чем больше относительная высота, тем меньше коэффициент гидравлического сопротивления и разрежение в бункере (меньше вероятность подсоса пыли в аппарат), номеньше степень очистки.Наиболее оптимальна относительная высота 1,6 м что соответствует принципу «золотое сечение».
		include parts/social-links