extends template/main
append vars
	-
		page_title= 'Main'
block content
	main
		section.main-slider
			include sliders/main-slider
		section.consult
			.section
				include parts/consult.pug
		section.about
			.section
				h1.title Leka.kz
				.about-row
					.about-img
						+img('about.png')
					p.about-desc
						|Производственно-монтажная компания&nbsp;
						strong «ЛЕКА»
						|&nbsp;существует на
						| рынке вентиляционного оборудования Республики Казахстан
						| с 1989 года. За это время мы освоили основы создания
						| необходимого микроклимата и передовые технологии
						| климатической отрасли при изготовлении систем вентиляции
						| и кондиционирования воздуха.
				ul.about-list
					li.about-item
						h3.item-title
							.title-text
								span.title Опыт
								span 28 лет на рынке
						p.item-text
							| За четверть века мы абсолютно
							| хорошо поняли свое предназначение
							| — проектирование и производство.
					li.about-item
						h3.item-title
							.title-text
								span.title Штат
								span 28 лет на рынке
						p.item-text
							| За четверть века мы абсолютно
							| хорошо поняли свое предназначение
							| — проектирование и производство.
					li.about-item
						h3.item-title
							.title-text
								span.title Производство
								span 28 лет на рынке
						p.item-text
							| За четверть века мы абсолютно
							| хорошо поняли свое предназначение
							| — проектирование и производство.
		section.retailers
			.section
				h2.title Розничные предложения
			.multiple-slider
				a(href='#').slide
					.slide-inner
						.slide-photo
							+img('dveri.png')
						h4.slide-title Противопожарные входные двери
						span.slide-code DR-84389-94
						.slide-icon
							+img('fire-shield.svg')
							span
						.slide-prices
							.old-price 999999 ₸
							.current-price 664499 ₸

			.section
