extends template/main
append vars
	-
		page_title= 'Новости'
block content
	main.news
		section.news-sort.first-block
			.section
				ul.sort-list
					li.sort-unit
						a(href='#').sort-link.active За все время
						a(href='#').sort-link 2018
						a(href='#').sort-link 2019
						a(href='#').sort-link 2020
					li.sort-unit
						a(href='#').sort-link.active Все статьи
						a(href='#').sort-link Новости
						a(href='#').sort-link Статьи
						a(href='#').sort-link Акции
		section.news-carts
			.section
				ul.cart-list
					li.cart-item
						.item-left
							.item-photo
								+img('news-photo-1.jpg')
							.item-type Статья
						.item-right
							.desc-date 2019-07-31
							a(href='./article.php').desc-title Циклон ЦН-15-700-4УП
							.desc-text
								|Циклон — воздухоочиститель, используемый в промышленности для очистки газов или жидкостей от взвешенных частиц. Принцип очистки — инерционный (с использованием центробежной силы), а также гравитационный. Циклонные пылеуловители составляют наиболеемассовую группу среди всех видов пылеулавливающей аппаратуры и применяются во всех отраслях промышленности.
								|Принцип действия простейшего противоточного циклона таков: поток запылённого газа вводится в аппарат через входной патрубок тангенциально в верхней части. В аппарате формируется вращающийся поток газа, направленный вниз, к конической части аппарата. Вследствие силыинерции (центробежной силы) частицы пыли выносятся из потока и оседают на стенках аппарата, затем захватываются вторичным потоком и попадают в нижнюю часть, через выпускное отверстие в бункер для сбора пыли.Очищенный от пыли газовый поток затем двигается снизу вверх и выводится из циклона через соосную выхлопную трубу.
								|Существует огромное разнообразие типов циклонов. Кроме описанного выше противоточного циклона существуют и менее распространённые прямоточные. Противоточные циклоны различаются размерами, соотношением цилиндрической и конической частей, а также относительной высотой (то есть отношениемвысоты к диаметру) цилиндрической части. Чем больше относительная высота, тем меньше коэффициент гидравлического сопротивления и разрежение в бункере (меньше вероятность подсоса пыли в аппарат), номеньше степень очистки.Наиболее оптимальна относительная высота 1,6 м что соответствует принципу «золотое сечение».
							.desc-views
								span 1456
								+img('eye.svg')
					li.cart-item
						.item-left
							.item-photo
								+img('news-photo-1.jpg')
							.item-type Акция
						.item-right
							.desc-date 2019-07-31
							a(href='./article.php').desc-title Циклон ЦН-15-700-4УП
							.desc-text
								| Циклон — воздухоочиститель, используемый в промышленности для очистки газов или жидкостей от взвешенных частиц. Принцип очистки — инерционный (с использованием центробежной силы), а также гравитационный. Циклонные пылеуловители составляют наиболеемассовую группу среди всех видов пылеулавливающей аппаратуры и применяются во всех отраслях промышленности.
								| Принцип действия простейшего противоточного циклона таков: поток запылённого газа вводится в аппарат через входной патрубок тангенциально в верхней части. В аппарате формируется вращающийся поток газа, направленный вниз, к конической части аппарата. Вследствие силыинерции (центробежной силы) частицы пыли выносятся из потока и оседают на стенках аппарата, затем захватываются вторичным потоком и попадают в нижнюю часть, через выпускное отверстие в бункер для сбора пыли.Очищенный от пыли газовый поток затем двигается снизу вверх и выводится из циклона через соосную выхлопную трубу.
								| Существует огромное разнообразие типов циклонов. Кроме описанного выше противоточного циклона существуют и менее распространённые прямоточные. Противоточные циклоны различаются размерами, соотношением цилиндрической и конической частей, а также относительной высотой (то есть отношениемвысоты к диаметру) цилиндрической части. Чем больше относительная высота, тем меньше коэффициент гидравлического сопротивления и разрежение в бункере (меньше вероятность подсоса пыли в аппарат), номеньше степень очистки.Наиболее оптимальна относительная высота 1,6 м что соответствует принципу «золотое сечение».
							.desc-views
								span 1456
								+img('eye.svg')
				.news-count
					button.button Загрузить еще
					span.news-count-span +23
		include parts/consult
		include parts/map
		include parts/social-links