extends template/main
append vars
	-
		page_title = 'Личный кабинет'
block content
	main
		section.plan
			h1.title Leka.kz
			table
				thead
					tr
						th
							div Название
						th
							div Планируемая дата
				tbody
					tr
						td
							div Начало работ
						td
							div 10.12.2020
					tr
						td
							div Главная
						td
							div 16.12.2020
					tr
						td
							div Карточка товара
						td
							div 18.12.2020
					tr
						td
							div Новости, Статья
						td
							div 24.12.2020
					tr
						td
							div О нас
						td
							div 28.12.2020
					tr
						td
							div Контакты, Логин, Privacy Policy
						td
							div 29.12.2020
					tr
						td
							div Личный кабинет
						td
							div 05.01.2021
					tr
						td
							div Услуги
						td
							div 06.01.2021
					tr
						td
							div
						td
							div
		include parts/social-links