extends template/main
append vars
	-
		page_title= 'Карточка товара'
block content
	main.product-page
		section
			.section.product-section
				include parts/aside
				.main
					form.search-row
						button.search-button
							+img('Search-icon.svg')
						input(type='text' placeholder='Поиск').search-input
					.product-card
						.bread-crumps
							a(href='#') Шумоглушители
							a(href='#') Пластины шумоглушащие П, ПО
						h1.title Пластины шумоглушашие П, ПО
						span.subtitle pl-2403-23v-43
						.row.product-control
							.count-select
								input(type='hidden' value=1).count-input
								button(data-click-action='Front:countShow').count-head
									span 1
									+img('border-arrow-right.svg')
								.count-body
									button(data-click-action='Front:countChoose') 1
									button(data-click-action='Front:countChoose') 2
									button(data-click-action='Front:countChoose') 3
									button(data-click-action='Front:countChoose') 4
									button(data-click-action='Front:countChoose') 5
									button(data-click-action='Front:countChoose') 6
							button.cart-add В корзину
							a(href='#').cart-link Перейти в корзину
							button(data-click-action='Front:showFeedback').question-button Задать вопрос
						.product-slider
							button.slider-prev-button.slider-arrow
								svg(width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M2.1952 10.1109L10.5165 1.7896C10.8041 1.50189 10.8041 1.03542 10.5165 0.747706C10.2287 0.460075 9.76229 0.460075 9.47457 0.747706L0.632349 9.58993C0.344718 9.87765 0.344718 10.3441 0.632349 10.6318L9.47457 19.4741C9.7673 19.7568 10.2338 19.7486 10.5165 19.4559C10.7922 19.1704 10.7922 18.7177 10.5165 18.4322L2.1952 10.1109Z" fill="#404040")
							.slider-dots
								button.dot
									+img('product.jpg')
								button.dot
									+img('product.jpg')
								button.dot
									+img('product.jpg')
							.slider-body
								+img('product.jpg')
								+img('product.jpg')
								+img('product.jpg')
							button.slider-next-button.slider-arrow
								svg(width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M8.8048 10.102L0.483532 18.4233C0.195858 18.711 0.195858 19.1775 0.483532 19.4652C0.771293 19.7528 1.23771 19.7528 1.52543 19.4652L10.3677 10.623C10.6553 10.3352 10.6553 9.86878 10.3677 9.58106L1.52543 0.738838C1.2327 0.456129 0.766241 0.464247 0.483532 0.756973C0.207774 1.04253 0.207774 1.49522 0.483532 1.78074L8.8048 10.102Z" fill="#404040")
						.product-desc
							input(type='radio' name='product-col' checked)#prod-col-1
							input(type='radio' name='product-col')#prod-col-2
							.row.desc-switch-row
								label(for='prod-col-1').desc-switch.active характеристики
								label(for='prod-col-2').desc-switch описание
							.row.desc-col-cont
								.desc-col
									.desc-col-unit
										h3.desc-title.title Пластины шумоглушашие П, ПО
											em (без обтекателя)
										.desc-table
											include parts/table
									.desc-col-unit
										h3.desc-title.title Характеристики
											em (с обтекателем)
										.desc-table
											include parts/table
								.desc-col
									.desc-col-unit
										h3.desc-title.title Описание
										p.desc-text Шумоглушители предназначены для снижения аэродинамического шума, создаваемого вентиляторами, кондиционерами, воздухорегулирующими устройствами, а также шума, возникающего в элементах воздуховодов и распространяющегося по ним. Для снижения аэродинамического шума в воздушном потоке применяют шумоглушители.
										p.desc-text Основной источник шума в системах вентиляции, кондиционирования и воздушного отопления - вентилятор. Причем, преобладающим является аэродинамический шум, имеющий широколосный спектр. Корпуса глушителей изготавливаются из оцинкованный стали. В качестве звукопоглащения для приточных и вытяжных систем применяются материалы различных фирм изготовителей. Для защиты материала от выдувания потоком воздуха используется перфарированный оцинкованный лист либо стальная сетка.
										p.desc-text Для уменьшения аэродинамического сопротивления и уровня звуковой мощности шума, создаваемого при проходении воздуха через шумоглушитель, со стороны входа воздуха устанавливается обтекатель.
						.question
							form.form.form-feedback
								.feedback-left.feedback-half
									span.left-text Интересующий товар
									h2.title.form-title Пластины шумоглушащие П, ПО
									span.left-text pl-2403-23v-43
								.feedback-right.feedback-half
									h3.form-title.title Задать вопрос
									.form-block
										span.block-title Имя | Организация
										input(type='text' placeholder='Юрий Гагарин').block-input
									.form-block
										span.block-title Ваш E-mail:
										input(type='text' placeholder='Uragagarin@gmail.com').block-input
									.form-block
										span.block-title Ваш номер телефона:
										input(type='text' placeholder='+9 (999) 999-99-99').block-input
									.form-block
										span.block-title Комментарий
										textarea(placeholder='Здравствуйте!').block-textarea.block-input
									.form-privacy
										span Нажимая кнопку "
										strong Отправить
										span ", Вы даете согласие на обработку персональных данных и соглашаетесь с&nbsp;
										a(href='#').link Privacy Policy
										span .
									button(disabled).button Отправить
		section.retailers.main-block
			.section
				h2.title Розничные предложения
			.multiple-slider
				include sliders/multiple-slide
				include sliders/multiple-slide
				include sliders/multiple-slide
				include sliders/multiple-slide
				include sliders/multiple-slide
				include sliders/multiple-slide
				include sliders/multiple-slide
			.section
				include parts/pagination
		include parts/consult.pug
		include parts/map.pug
		include parts/bottom-menu