extends template/main
append vars
	-
		page_title = 'Услуги'
block content
	main.catalog-page
		section.first-block
			.section
				ul.list
					-for (let i = 0; i < 3; i++)
						li.item
							a(href='./laser.php').item-photo
								+img('bgc-5.jpg')
							.item-desc
								h3.desc-title Лазерная резка
								p.desc-text За четверть века мы абсолютно хорошо поняли свое предназначение — проектирование и производство.
								a(href='./laser.php').desc-link Подробнее
						li.item
							a(href='./laser.php').item-photo
								+img('services-slide-2.jpg')
							.item-desc
								h3.desc-title Лазерная резка
								p.desc-text За четверть века мы абсолютно хорошо поняли свое предназначение — проектирование и производство.
								a(href='./laser.php').desc-link Подробнее
		include parts/consult
		include parts/map
		include parts/social-links
