extends template/main
append vars
	-
		page_title = 'Услуги лазерной резки'
block content
	main
		section.services-banner
			.slide.slide-5
				.section.slide-inner
					h2.slide-title.title
						span
							i Услуги
							i лазерной
							i резки
						span
							i металла -
							i от розницы до
						span
							i промышленных
							i масштабов
				.slide-bgc
					+img('bgc-5.jpg')
		section.services-desc
			.services-desc-bgc
				.section
					.desc
						.desc-left
							h1.title Лазерная резка
							p.desc-text
								strong Лазерная резка металла
								|&nbsp; — это современная технология машинной обработки материала, которая позволяет выполнить рез любой сложности с высочайшей точностью. Она обладает множеством преимуществ перед механической резкой, что и обуславливает её широкую популярность в различных отраслях промышленности и гражданского пользования.
							.desc-actions
								button.button Оставить заявку
								span или
								a(href='tel:+77754415559').desc-link Позвоните нам
						.desc-right
							+img('services-right.png')
					ul.desc-list
						li.desc-item
							h3.item-title Качество
							p.item-text Высокое качество кромки реза. В результате резки металла лазером, при соблюдении технологии и правильной настройке оборудования, кромка получается идеально гладкой.
						li.desc-item
							h3.item-title Возможности
							p.item-text Рез образуется исключительно в результате нагрева. Таким образом, с помощью лазера можно безопасно обрабатывать даже зеркальные поверхности.
						li.desc-item
							h3.item-title Материалы
							p.item-text Широкий перечень обрабатываемых материалов. При помощи этой технологии можно обрабатывать разные металлы. В этот перечень входят все популярные сорта стали.
						li.desc-item
							h3.item-title Цена
							p.item-text Стоимость. С учетом всех названных преимуществ и качества конечного результата, услугу лазерной резки можно назвать выгодной и привлекательной с экономической точки зрения.
						li.desc-item
							h3.item-title Точность
							p.item-text За счет числового программного управления и микроскопической площади контакта светового луча с поверхностью, оборудование может вырезать сложнейшие контуры.
		section.services-price
			.section
				.price-col
					.price-img
						+img('laser-example.png')
					.desc-actions
						button.button Оставить заявку
						span или
						a(href='tel:+77754415559').desc-link Позвоните нам
				.price-table
					.price-cont
						h3.title Прайс-лист по лазерной резке от 23.04.20
						table
							thead
								tr
									th
										div Тип резки
									th(colspan=2)
										div Резка кислородом
									th(colspan=2)
										div Резка азотом
							tbody
								tr
									td
										div Толщина металла
									td
										div <100 м
									td
										div >100 м
									td
										div <100 м
									td
										div >100 м
							thead
								tr
									th(colspan=5)
										div Сталь хк, гк, оц
							tbody
								tr
									td
										div 0,5-1,0 мм
									td
										div 600
									td
										div 500
									td
										div 700
									td
										div 600
								tr
									td
										div 1,2-1,5 мм
									td
										div 700
									td
										div 600
									td
										div 800
									td
										div 700
								tr
									td
										div 2,0 мм
									td
										div 800
									td
										div 700
									td
										div 900
									td
										div 800
								tr
									td
										div 3,0 мм
									td
										div 900
									td
										div 800
									td(colspan=2)
										div Индивидуально
								tr
									td
										div 4,0 мм
									td
										div 1 100
									td
										div 1 000
									td(colspan=2)
										div Индивидуально
							thead
								tr
									th(colspan=5)
										div Сталь: нержавеющая
							tbody
								tr
									td
										div 0,5-1,0 мм
									td(colspan=3)
										div 700
									td
										div 600
								tr
									td
										div 1,2-1,5 мм
									td(colspan=3)
										div 800
									td
										div 700
								tr
									td
										div 2,0 мм
									td(colspan=3)
										div 900
									td
										div 800
								tr
									td
										div 3,0 мм
									td(colspan=4)
										div Индивидуально
							thead
								tr
									th(colspan=5)
										div Металл: медь, латунь, алюминий
							tbody
								tr
									td
										div 0,5-1,0 мм
									td(colspan=3)
										div 800
									td
										div 700
								tr
									td
										div 1,2-1,5 мм
									td(colspan=3)
										div 900
									td
										div 800
								tr
									td
										div 2,0 мм
									td(colspan=4)
										div Индивидуально
								tr
									td
										div 3,0 мм
									td(colspan=4)
										div Индивидуально
			.dots.dots-left
				-for (let i = 0; i < 50; i++)
					.dots-unit
			.dots.dots-right
				-for (let i = 0; i < 50; i++)
					.dots-unit
			.price-bgc
		section.services-examples
			.section
				h3.title Как мы работаем
				ul.examples-list
					li.examples-unit
						.unit-icon
							+img('user.svg')
						.unit-info
							h5.unit-title Заявка
							p.unit-text Звонок или письмо на почту
					li.examples-line
					li.examples-unit
						.unit-icon
							+img('location.svg')
						.unit-info
							h5.unit-title Брифинг
							p.unit-text Рассмотрение задачи
					li.examples-line
					li.examples-unit
						.unit-icon
							+img('card.svg')
						.unit-info
							h5.unit-title Оплата
							p.unit-text Согласование и оплата
		section.services-ex
			h2.title Примеры работ
			.multiple-slider
				.slide
					.slide-img
						+img('example.jpg')
					.slide-dark
					.slide-title Лазерная резка
				.slide
					.slide-img
						+img('example.jpg')
					.slide-dark
					.slide-title Лазерная резка
				.slide
					.slide-img
						+img('example.jpg')
					.slide-dark
					.slide-title Лазерная резка
				.slide
					.slide-img
						+img('example.jpg')
					.slide-dark
					.slide-title Лазерная резка
			.section
				include parts/pagination
		include parts/consult
		include parts/map
		include parts/social-links