section.main-slider
	.slide.slide-1.active
		.section.slide-inner
			h2.slide-title.title
				span
					i Металлоизделия
				span
					i высокого
					i качества
			.slide-row
				.slide-lists
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Складское оборудование
						li.slide-item
							+img('huysik.svg')
							span Шкафы
						li.slide-item
							+img('huysik.svg')
							span Ящики
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Выставочное оборудование
						li.slide-item
							+img('huysik.svg')
							span Двери металлические
						li.slide-item
							+img('huysik.svg')
							span Сервисное оборудование
				a(href='#').slide-button.button Подробнее
		.slide-bgc
			+img('bgc-1.jpg')
	.slide.slide-2
		.section.slide-inner
			h2.slide-title.title
				span
					i Промышленные
				span
					i услуги
			.slide-row
				.slide-lists
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Перфорация листового металла
						li.slide-item
							+img('huysik.svg')
							span Гильотинный раскрой
						li.slide-item
							+img('huysik.svg')
							span Сварочные работы
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Лазерная резка
						li.slide-item
							+img('huysik.svg')
							span Плазменная резка
						li.slide-item
							+img('huysik.svg')
							span Рубка и гибка
						li.slide-item
							+img('huysik.svg')
							span Вальцовка металла
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Полимерное покрытие изделий согласно каталогу цветов RAL
				a(href='#').slide-button.button Подробнее
		.slide-bgc
			+img('bgc-2.jpg')
	.slide.slide-3
		.section.slide-inner
			h2.slide-title.title
				span
					i Противопожарное
				span
					i оборудование
			.slide-row
				.slide-lists
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Клапаны дымоудаления
						li.slide-item
							+img('huysik.svg')
							span Противопожарные двери
						li.slide-item
							+img('huysik.svg')
							span Шкафы и щиты
				a(href='#').slide-button.button Подробнее
		.slide-bgc
			+img('bgc-3.jpg')
	.slide.slide-4
		.section.slide-inner
			h2.slide-title.title
				span
					i Изготовление
				span
					i вентиляции
			.slide-row
				a(href='#').slide-button.button Подробнее
		.slide-bgc
			+img('bgc-4.jpg')
	.slide.slide-5
		.section.slide-inner
			h2.slide-title.title
				span
					i Услуги
					i лазерной
					i резки
				span
					i металла -
					i от розницы до
				span
					i промышленных
					i масштабов
			.slide-row
				a(href='#').slide-button.button Подробнее
		.slide-bgc
			+img('bgc-5.jpg')
	.slide.slide-6
		.section.slide-inner
			h2.slide-title.title
				span
					i Вентиляция
				span
					i будущего
			.slide-row
				.slide-lists
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Прямоугольные воздуховоды
						li.slide-item
							+img('huysik.svg')
							span Узлы прохода
						li.slide-item
							+img('huysik.svg')
							span Фильтры
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Вентиляторы
						li.slide-item
							+img('huysik.svg')
							span Детали систем вентиляции
						li.slide-item
							+img('huysik.svg')
							span Круглые воздуховоды
					ul.slide-list
						li.slide-item
							+img('huysik.svg')
							span Шумоглушители
				a(href='#').slide-button.button Подробнее
		.slide-bgc
			+img('bgc-6.jpg')