a(href='#').slide
	.slide-inner
		.slide-photo
			+img('dveri.png')
		h4.slide-title Противопожарные входные двери
		span.slide-code DR-84389-94
		.slide-icon
			+img('fire-shield.svg')
			span
		.slide-prices
			.old-price 999999 ₸
			.current-price 664499 ₸